@model Village_Manager.Models.DiscountCodes
@{
    ViewData["Title"] = "Tạo mã giảm giá";
    Layout = "~/Views/Shared/_AdminRetail.cshtml";
}

<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-body-wrapper">
        <div class="page-body">
            <div class="container mt-5">
                <div class="card col-md-8 offset-md-2 shadow">
                    <div class="card-header">
                        <h4>Tạo mã giảm giá mới</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateDiscountCode" method="post">
                            <div class="mb-3">
                                <label>Mã code</label>
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label>Phần trăm giảm giá</label>
                                <input asp-for="DiscountPercent" type="number" class="form-control"/>
                                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label>Giới hạn sử dụng</label>
                                <input asp-for="UsageLimit" type="number" class="form-control" />
                                <span asp-validation-for="UsageLimit" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label>Trạng thái</label>
                                <select asp-for="Status" class="form-select">
                                    <option value="active">Kích hoạt</option>
                                    <option value="disabled">Vô hiệu hóa</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label>Ngày hết hạn</label>
                                <input asp-for="ExpiredAt" type="date" class="form-control" />
                                <span asp-validation-for="ExpiredAt" class="text-danger"></span>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-success">Tạo mã giảm giá</button>
                                <a asp-action="DiscountCodes" class="btn btn-secondary">Hủy</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

