USE [village_manager]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[address_line] [nvarchar](max) NULL,
	[city] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[postal_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_type] [nvarchar](10) NULL,
	[order_id] [int] NULL,
	[shipper_id] [int] NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[customer_name] [nvarchar](100) NULL,
	[customer_address] [nvarchar](255) NULL,
	[customer_phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryIssues]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryIssues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_id] [int] NULL,
	[shipper_id] [int] NULL,
	[issue_type] [nvarchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[reported_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryProofs]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryProofs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_id] [int] NULL,
	[shipper_id] [int] NULL,
	[image_path] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_percent] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[usage_limit] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[expired_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmer]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmerRegistrationRequest]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmerRegistrationRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NULL,
	[requested_at] [datetime] NULL,
	[reviewed_at] [datetime] NULL,
	[reviewed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_id] [int] NULL,
	[order_type] [nvarchar](10) NULL,
	[content] [nvarchar](max) NULL,
	[rating] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HiddenProduct]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HiddenProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[reason] [nvarchar](max) NULL,
	[hidden_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomepageImage]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomepageImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_image_id] [int] NULL,
	[section] [nvarchar](50) NOT NULL,
	[display_order] [int] NULL,
	[is_active] [bit] NULL,
	[Banner] [nvarchar](500) NULL,
	[Position] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportInvoice]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportInvoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](100) NULL,
	[total_amount] [decimal](12, 2) NULL,
	[created_at] [datetime] NULL,
	[purchase_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportInvoiceDetail]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportInvoiceDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[import_invoice_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_id] [int] NULL,
	[order_type] [nvarchar](10) NULL,
	[amount] [decimal](10, 2) NULL,
	[paid_at] [datetime] NULL,
	[method] [nvarchar](50) NULL,
	[payment_type] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessedProduct]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessedProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[history_id] [int] NULL,
	[processed_date] [date] NULL,
	[return_date] [date] NULL,
	[processing_note] [nvarchar](max) NULL,
	[total_weight] [decimal](10, 2) NULL,
	[image_url] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessingOrder]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessingOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[send_date] [date] NULL,
	[expected_return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessingReceipt]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessingReceipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[processing_order_id] [int] NULL,
	[received_date] [date] NULL,
	[actual_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[expiration_date] [date] NULL,
	[product_type] [nvarchar](20) NULL,
	[quantity] [int] NOT NULL,
	[processing_time] [date] NULL,
	[farmer_id] [int] NULL,
	[approval_status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[imageUrl] [nvarchar](100) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_url] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductProcessingHistory]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductProcessingHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[sent_date] [date] NULL,
	[return_date] [date] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetailOrder]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetailOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[confirmed_at] [datetime] NULL,
	[discount_code_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RetailOrderItem]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetailOrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnOrder]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_type] [nvarchar](10) NULL,
	[order_id] [int] NULL,
	[user_id] [int] NULL,
	[quantity] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_token] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[vehicle_info] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipperRegistrationRequest]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipperRegistrationRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NULL,
	[requested_at] [datetime] NULL,
	[vehicle_info] [nvarchar](max) NULL,
	[reviewed_at] [datetime] NULL,
	[reviewed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[role] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[contact_info] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyRequest]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[requester_type] [nvarchar](10) NOT NULL,
	[requester_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[farmer_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
	[requested_at] [datetime] NULL,
	[responded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportRoute]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportRoute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_location] [nvarchar](max) NULL,
	[end_location] [nvarchar](max) NULL,
	[distance_km] [decimal](10, 2) NULL,
	[estimated_time] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLocations]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Label] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2025 3:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[role_id] [int] NOT NULL,
	[HasAcceptedGeolocation] [bit] NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([id], [order_type], [order_id], [shipper_id], [shipping_fee], [start_time], [end_time], [status], [customer_name], [customer_address], [customer_phone]) VALUES (1, N'retail', 1, NULL, CAST(0.00 AS Decimal(10, 2)), NULL, NULL, N'assigned', N'Không xác định', N'Số nhà 2, Phường Phúc Xá, Quận Ba Đình, Thành phố Hà Nội', N'Không xác định')
INSERT [dbo].[Delivery] ([id], [order_type], [order_id], [shipper_id], [shipping_fee], [start_time], [end_time], [status], [customer_name], [customer_address], [customer_phone]) VALUES (2, N'retail', 2, NULL, CAST(0.00 AS Decimal(10, 2)), NULL, NULL, N'assigned', N'Không xác định', N'Số nhà 2, Phường Phúc Xá, Quận Ba Đình, Thành phố Hà Nội', N'Không xác định')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Farmer] ON 

INSERT [dbo].[Farmer] ([id], [user_id], [full_name], [phone], [address]) VALUES (1, 3, N'famer', N'0112345678', N'Số nhà 123, Xã Liên Chung, Huyện Tân Yên, Tỉnh Bắc Giang')
SET IDENTITY_INSERT [dbo].[Farmer] OFF
GO
SET IDENTITY_INSERT [dbo].[FarmerRegistrationRequest] ON 

INSERT [dbo].[FarmerRegistrationRequest] ([id], [user_id], [full_name], [phone], [address], [status], [requested_at], [reviewed_at], [reviewed_by]) VALUES (1, 5, N'Son Lam', N'0000000001', N'Số nhà 21, Phường Sông Bằng, Thành phố Cao Bằng, Tỉnh Cao Bằng', N'pending', CAST(N'2025-08-04T03:13:53.437' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FarmerRegistrationRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[HomepageImage] ON 

INSERT [dbo].[HomepageImage] ([id], [product_image_id], [section], [display_order], [is_active], [Banner], [Position]) VALUES (1, NULL, N'banner', 0, 1, N'/uploads/e251c9ff-3d4e-4734-a136-ed26dcb1c57a_banner5.jpg', N'Bannertopleft')
INSERT [dbo].[HomepageImage] ([id], [product_image_id], [section], [display_order], [is_active], [Banner], [Position]) VALUES (2, NULL, N'banner', 0, 1, N'/uploads/4e21fccf-fc0f-4d3c-8bc9-49bf929842cf_banner5.jpg', N'Bannertopright1')
INSERT [dbo].[HomepageImage] ([id], [product_image_id], [section], [display_order], [is_active], [Banner], [Position]) VALUES (3, NULL, N'banner', 0, 1, N'/uploads/b361ff4a-f333-4b79-9f4a-61ffeec7a9a4_banner1.jpg', N'Bannertopright2')
SET IDENTITY_INSERT [dbo].[HomepageImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([id], [user_id], [action], [created_at]) VALUES (1, 1, N'Added new user: famer (ID: 3)', CAST(N'2025-08-04T02:56:22.200' AS DateTime))
INSERT [dbo].[Log] ([id], [user_id], [action], [created_at]) VALUES (2, 1, N'Added new user: shiper (ID: 4)', CAST(N'2025-08-04T02:57:15.860' AS DateTime))
INSERT [dbo].[Log] ([id], [user_id], [action], [created_at]) VALUES (3, 1, N'Added new user: customer (ID: 5)', CAST(N'2025-08-04T02:58:02.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [user_id], [content], [created_at], [is_read]) VALUES (1, 1, N'Tài khoản ID 5 đã gửi yêu cầu đăng ký làm nông dân.', CAST(N'2025-08-04T03:13:53.467' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [category_id], [price], [expiration_date], [product_type], [quantity], [processing_time], [farmer_id], [approval_status]) VALUES (1, N'Caffe', 2, CAST(15000.00 AS Decimal(10, 2)), NULL, N'processed', 997, NULL, 1, N'accepted')
INSERT [dbo].[Product] ([id], [name], [category_id], [price], [expiration_date], [product_type], [quantity], [processing_time], [farmer_id], [approval_status]) VALUES (2, N'Chè', 4, CAST(124000.00 AS Decimal(10, 2)), NULL, N'processed', 132, NULL, 1, N'accepted')
INSERT [dbo].[Product] ([id], [name], [category_id], [price], [expiration_date], [product_type], [quantity], [processing_time], [farmer_id], [approval_status]) VALUES (3, N'Điều', 1, CAST(200000.00 AS Decimal(10, 2)), NULL, N'processed', 2931, NULL, 1, N'accepted')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([id], [name], [imageUrl], [active]) VALUES (1, N'Thực phẩm', N'/upload/ebf220b4-f3d7-4c56-9e5b-a679a0dc4865.jpg', 1)
INSERT [dbo].[ProductCategory] ([id], [name], [imageUrl], [active]) VALUES (2, N'Hạt', N'/upload/7ad0b4d9-f8bb-40a6-a460-ae8a86abcfee.jpg', 1)
INSERT [dbo].[ProductCategory] ([id], [name], [imageUrl], [active]) VALUES (3, N'Hoa quả', N'/upload/451d474a-da3d-4c61-8b36-67267c71f019.jpg', 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([id], [product_id], [image_url], [description], [uploaded_at]) VALUES (1, 1, N'/images/df43e4d0-e1f2-48fb-8902-ed3081ecf4f3_cafe.jpg', N'Caffe', CAST(N'2025-08-04T02:58:52.347' AS DateTime))
INSERT [dbo].[ProductImage] ([id], [product_id], [image_url], [description], [uploaded_at]) VALUES (2, 2, N'/images/38bc24a3-fa61-4075-9b7e-66093d9272f2_chè.jpg', N'Chè', CAST(N'2025-08-04T02:59:14.783' AS DateTime))
INSERT [dbo].[ProductImage] ([id], [product_id], [image_url], [description], [uploaded_at]) VALUES (3, 3, N'/images/756d0166-3d94-4e75-a9ba-32a9965d242e_điều.jpg', N'Ði?u', CAST(N'2025-08-04T02:59:43.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[RetailOrder] ON 

INSERT [dbo].[RetailOrder] ([id], [user_id], [order_date], [status], [confirmed_at], [discount_code_id]) VALUES (1, 5, CAST(N'2025-08-04T03:14:25.787' AS DateTime), N'confirmed', NULL, NULL)
INSERT [dbo].[RetailOrder] ([id], [user_id], [order_date], [status], [confirmed_at], [discount_code_id]) VALUES (2, 5, CAST(N'2025-08-04T03:14:44.020' AS DateTime), N'pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RetailOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[RetailOrderItem] ON 

INSERT [dbo].[RetailOrderItem] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (1, 1, 1, 3, CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[RetailOrderItem] ([id], [order_id], [product_id], [quantity], [unit_price]) VALUES (2, 2, 5, 4, CAST(200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RetailOrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([id], [name]) VALUES (3, N'customer')
INSERT [dbo].[Roles] ([id], [name]) VALUES (5, N'farmer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([id], [user_id], [full_name], [phone], [vehicle_info], [status]) VALUES (1, 4, N'shiper', N'0133456789', N'Vehicle info will be updated later', N'approved')
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLocations] ON 

INSERT [dbo].[UserLocations] ([Id], [UserId], [Label], [Address], [Latitude], [Longitude], [CreatedAt]) VALUES (1, 5, N'Mua hàng', N'Số nhà 2, Phường Phúc Xá, Quận Ba Đình, Thành phố Hà Nội', 0, 0, CAST(N'2025-08-04T03:07:49.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [HasAcceptedGeolocation], [Phone], [created_at], [is_active], [deleted_at]) VALUES (1, N'admin', N'$2a$11$0FqV8cu.Hcztc09ha/2.Oe5m1tOVt3KUwlpbMxhEh3PINOuWmNLpi', N'admin@admin.com', 1, 0, N'0123456789', CAST(N'2025-08-04T02:42:45.357' AS DateTime), 1, NULL)
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [HasAcceptedGeolocation], [Phone], [created_at], [is_active], [deleted_at]) VALUES (2, N'Staff', N'$2a$11$F8O3TAlKXEQpnK/KZfICTeUBjtm4DvyUIWcwEoe.IGVPLd30GpsWy', N'admin@gmail.com', 2, 0, N'0123456788', CAST(N'2025-08-04T02:42:45.357' AS DateTime), 1, NULL)
INSERT [dbo].[Users] ([id], [username], [password], [email], [role_id], [HasAcceptedGeolocation], [Phone], [created_at], [is_active], [deleted_at]) VALUES (3, N'famer', N'$2a$11$UO63QjKcpkmE315lq2IaGuRzPJttz33IAhIVbdZuYj4cazcrPldpS', N'famer@famer.com', 5, 0, N'0112345678', CAST(N'2025-08-04T02:56:22.120' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Cart__B9BE370EAD2E6CFE]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Cart] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__357D4CF9B39C912B]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[DiscountCodes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Farmer__B43B145FA62C30F7]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Farmer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FarmerRe__B43B145FBA7055C9]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[FarmerRegistrationRequest] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__72E12F1BBC4715F5]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductC__72E12F1BB8A05CDF]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[ProductCategory] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1B1646E991]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Shipper__B43B145FB1247882]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Shipper] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ShipperR__B43B145FDDD0098C]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[ShipperRegistrationRequest] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__72E12F1B6B2FBADD]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Supplier] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359E55715256]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616407F4B8DB]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5722EC8FFDF]    Script Date: 8/4/2025 3:23:11 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeliveryIssues] ADD  DEFAULT (getdate()) FOR [reported_at]
GO
ALTER TABLE [dbo].[DeliveryProofs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FarmerRegistrationRequest] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[FarmerRegistrationRequest] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[HiddenProduct] ADD  DEFAULT (getdate()) FOR [hidden_at]
GO
ALTER TABLE [dbo].[HomepageImage] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[HomepageImage] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('pending') FOR [approval_status]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Shipper] ADD  CONSTRAINT [DF_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequest] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequest] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[SupplyRequest] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[SupplyRequest] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[UserLocations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HasAcceptedGeolocation]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Shipper] ([id])
GO
ALTER TABLE [dbo].[DeliveryIssues]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[Delivery] ([id])
GO
ALTER TABLE [dbo].[DeliveryIssues]  WITH CHECK ADD FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Shipper] ([id])
GO
ALTER TABLE [dbo].[DeliveryProofs]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[Delivery] ([id])
GO
ALTER TABLE [dbo].[DeliveryProofs]  WITH CHECK ADD FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Shipper] ([id])
GO
ALTER TABLE [dbo].[Farmer]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[FarmerRegistrationRequest]  WITH CHECK ADD FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[FarmerRegistrationRequest]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[HiddenProduct]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[HomepageImage]  WITH CHECK ADD  CONSTRAINT [FK_HomepageImage_ProductImage] FOREIGN KEY([product_image_id])
REFERENCES [dbo].[ProductImage] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HomepageImage] CHECK CONSTRAINT [FK_HomepageImage_ProductImage]
GO
ALTER TABLE [dbo].[ImportInvoiceDetail]  WITH CHECK ADD FOREIGN KEY([import_invoice_id])
REFERENCES [dbo].[ImportInvoice] ([id])
GO
ALTER TABLE [dbo].[ImportInvoiceDetail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ProcessedProduct]  WITH CHECK ADD FOREIGN KEY([history_id])
REFERENCES [dbo].[ProductProcessingHistory] ([id])
GO
ALTER TABLE [dbo].[ProcessingOrder]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProcessingReceipt]  WITH CHECK ADD FOREIGN KEY([processing_order_id])
REFERENCES [dbo].[ProcessingOrder] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[ProductCategory] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([farmer_id])
REFERENCES [dbo].[Farmer] ([id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductProcessingHistory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[RetailOrder]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RetailOrder]  WITH CHECK ADD  CONSTRAINT [FK_RetailOrder_DiscountCode] FOREIGN KEY([discount_code_id])
REFERENCES [dbo].[DiscountCodes] ([id])
GO
ALTER TABLE [dbo].[RetailOrder] CHECK CONSTRAINT [FK_RetailOrder_DiscountCode]
GO
ALTER TABLE [dbo].[RetailOrderItem]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[RetailOrder] ([id])
GO
ALTER TABLE [dbo].[RetailOrderItem]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ReturnOrder]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ShipperRegistrationRequest]  WITH CHECK ADD FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ShipperRegistrationRequest]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[SupplyRequest]  WITH CHECK ADD FOREIGN KEY([farmer_id])
REFERENCES [dbo].[Farmer] ([id])
GO
ALTER TABLE [dbo].[SupplyRequest]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SupplyRequest]  WITH CHECK ADD FOREIGN KEY([requester_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserLocations]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD CHECK  (([order_type]='import' OR [order_type]='retail'))
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='delivered' OR [status]='in_transit' OR [status]='assigned'))
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD CHECK  (([discount_percent]>=(1) AND [discount_percent]<=(100)))
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD CHECK  (([status]='disabled' OR [status]='used' OR [status]='expired' OR [status]='active'))
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD CHECK  (([usage_limit]>=(1)))
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD  CONSTRAINT [CK_DiscountCode_Length] CHECK  ((len([code])>=(6)))
GO
ALTER TABLE [dbo].[DiscountCodes] CHECK CONSTRAINT [CK_DiscountCode_Length]
GO
ALTER TABLE [dbo].[Farmer]  WITH CHECK ADD  CONSTRAINT [CK_Farmer_Phone_OnlyDigits] CHECK  ((NOT [phone] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Farmer] CHECK CONSTRAINT [CK_Farmer_Phone_OnlyDigits]
GO
ALTER TABLE [dbo].[FarmerRegistrationRequest]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([order_type]='import' OR [order_type]='retail'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([method]='bank_transfer' OR [method]='card' OR [method]='cash'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([order_type]='import' OR [order_type]='retail'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_type]='refund' OR [payment_type]='receive'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([approval_status]='rejected' OR [approval_status]='accepted' OR [approval_status]='pending'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([product_type]='raw' OR [product_type]='processed'))
GO
ALTER TABLE [dbo].[RetailOrder]  WITH CHECK ADD CHECK  (([status]='inprocess' OR [status]='returned' OR [status]='cancelled' OR [status]='delivered' OR [status]='shipped' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[ReturnOrder]  WITH CHECK ADD CHECK  (([order_type]='import' OR [order_type]='retail'))
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [CHK_status] CHECK  (([status]='inactive' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [CHK_status]
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [CK_Shipper_Phone_OnlyDigits] CHECK  ((NOT [phone] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [CK_Shipper_Phone_OnlyDigits]
GO
ALTER TABLE [dbo].[ShipperRegistrationRequest]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[SupplyRequest]  WITH CHECK ADD CHECK  (([requester_type]='farmer' OR [requester_type]='admin'))
GO
ALTER TABLE [dbo].[SupplyRequest]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='accepted' OR [status]='pending'))
GO
