@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thông tin cá nhân";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/images/favicon/1.png" type="image/x-icon">
    <title>On-demand last-mile delivery</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-10">
        <div class="card shadow rounded-4 p-4">
            <h3 class="mb-4 fw-bold text-success"><i class="fa fa-user-circle me-2"></i>Thông tin cá nhân</h3>
            <dl class="row mb-0">
                <dt class="col-sm-4">Tên đăng nhập:</dt>
                <dd class="col-sm-8">shipper_xin_xo</dd>
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">shipper@example.com</dd>
                <dt class="col-sm-4">Số điện thoại:</dt>
                <dd class="col-sm-8">0987654321</dd>
                <dt class="col-sm-4">Phương tiện:</dt>
                <dd class="col-sm-8">
                    <form class="d-flex align-items-center gap-2">
                        <input type="text" class="form-control" value="Xe máy Honda Wave" style="max-width: 250px;" />
                        <button type="submit" class="btn btn-success"><i class="fa fa-save me-1"></i>Cập nhật</button>
                    </form>
                </dd>
            </dl>
                <a href="/dashboardshipper" class="btn btn-outline-secondary mt-4"><i class="fa fa-arrow-left me-1"></i>Quay lại Dashboard</a>
        </div>
    </div>
</div> 
</body>
<!-- latest jquery-->
<script src="~/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="~/js/jquery-ui.min.js"></script>

<!-- Bootstrap js-->
<script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/js/bootstrap/bootstrap-notify.min.js"></script>
<script src="~/js/bootstrap/popper.min.js"></script>

<!-- feather icon js-->
<script src="~/js/feather/feather.min.js"></script>
<script src="~/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="~/js/lazysizes.min.js"></script>

<!-- Slick js-->
<script src="~/js/slick/slick.js"></script>
<script src="~/js/slick/custom_slick.js"></script>

<!-- Apexcharts Js -->
<script src="~/js/apexchart.js"></script>
<script src="~/js/custom-chart.js"></script>

<!-- Nav & tab upside js -->
<script src="~/js/nav-tab.js"></script>

<!-- script js -->
<script src="~/js/script.js"></script>

<!-- theme setting js -->
<script src="~/js/theme-setting.js"></script>
</html>