@{
    ViewData["Title"] = "Shipper Dashboard";
    Layout = "~/Views/Shared/_AdminWarehouse.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Shipper Dashboard</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Số đơn hôm nay</h5>
                                <p class="card-text display-4">@ViewBag.TodayOrders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Đã giao thành công</h5>
                                <p class="card-text display-4">@ViewBag.SuccessOrders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h4>Chức năng khác cho shipper sẽ hiển thị tại đây...</h4>
            </div>
        </div>
    </div>
</div> 