@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_AdminWarehouse.cshtml";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/back-end/images/favicon.png" type="image/x-icon">
    <title>Fastkart - Add New Product</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/back-end/css/linearicon.css">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/font-awesome.css">

    <!-- Themify icon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/themify.css">

    <!--Dropzon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/dropzone.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/remixicon.css">

    <!-- Select2 css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/select2.min.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/date-picker.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap.css">

    <!-- Bootstrap-tag input css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/vendors/bootstrap-tagsinput.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/back-end/css/style.css">
</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper start -->
    <!-- Page Body start -->
    <div class="page-body-wrapper">

        <div class="page-body">

            <!-- New Product Add Start -->
            <form class="theme-form theme-form-2 mega-form" method="POST" action="/updateproduct" enctype="multipart/form-data">
                <!-- Product Information -->
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="card">
                    <div class="card-body">
                        <div class="card-header-2"><h5>Product Information</h5></div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Product Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" >
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Product Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="product_type" >
                                    <option value="processed">Processed</option>
                                    <option value="raw">Raw</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="category_id" >
                                    <!-- Options loaded from backend -->
                                    <option value="2">Vegetables & Fruit</option>
                                    <option value="3">Beverages</option>
                                    <option value="4">Meats & Seafood</option>
                                    <option value="5">Breakfast</option>
                                    <option value="6">Frozen Foods</option>
                                    <option value="7">Milk & Dairies</option>
                                    <option value="8">Pet Food</option>
                                    <!-- ... -->
                                </select>
                            </div>
                        </div>


                        <div class="mb-4 row">
                            <label class="col-sm-3">Quantity</label>
                            <div class="col-sm-9">
                                <input type="number" name="quantity" class="form-control" >
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Price</label>
                            <div class="col-sm-9">
                                <input type="number" name="price" class="form-control" step="0.01" >
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Expiration Date</label>
                            <div class="col-sm-9">
                                <input type="date" name="expiration_date" class="form-control">
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Processing Time</label>
                            <div class="col-sm-9">
                                <input type="date" name="processing_time" class="form-control">
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Farmer</label>
                            <div class="col-sm-9">
                                <input type="hidden" name="farmer_id" value="1" />
                                <input type="text" class="form-control" name="farmer_name">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product Images -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-header-2"><h5>Product Images</h5></div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Images</label>
                            <div class="col-sm-9">
                                <input type="file" name="images" class="form-control" multiple accept="image/*">
                            </div>
                        </div>

                        <div class="mb-4 row">
                            <label class="col-sm-3">Image Description</label>
                            <div class="col-sm-9">
                                <textarea name="image_description" class="form-control" rows="3" placeholder="Optional image description..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">Add Product</button>
                </div>
            </form>


            <!-- New Product Add End -->
        </div>
        <!-- Container-fluid End -->
    </div>
    <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" onclick="location.href = 'login.html';"
                                class="btn  btn--yes btn-primary">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

</body>

</html>